@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Copperplate";
  src: url("/Sans-Copperplate Gothic Regular.ttf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-copperplate: "Copperplate", sans-serif;

  /* Default fallback values for safe area insets */
  --sat: env(safe-area-inset-top, 0px);
  --sar: env(safe-area-inset-right, 0px);
  --sab: env(safe-area-inset-bottom, 0px);
  --sal: env(safe-area-inset-left, 0px);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-copperplate);
  padding-bottom: var(--sab);
}
