@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Chanel";
  src: url("/fonts/chanel_extralight.ttf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-chanel: "Chanel", sans-serif;

  /* Default fallback values for safe area insets */
  --sat: env(safe-area-inset-top, 0px);
  --sar: env(safe-area-inset-right, 0px);
  --sab: env(safe-area-inset-bottom, 0px);
  --sal: env(safe-area-inset-left, 0px);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-chanel);
  padding-bottom: var(--sab);
  font-size: 11px;
  text-transform: uppercase;
}
